* {
    margin: 0;
    box-sizing: border-box;
    

}
.conten-header {
    display: flex;
    padding: 2rem;
    align-items: center;
    color: cornsilk;
    height: 8rem;
    background-color: blueviolet;
}

.main {
    padding: 4rem;
}

.memelogo {
    width: 8rem; 
    margin-right: 2rem;   
}

.title {
    margin-right: auto;
    font-size: 3rem;
}

.subtitle {
    font-size: 3rem;
}

.subtitle {
    font-size: 3rem;
}

.form {
    display: grid;
    grid-template: 40px 40px/ 1fr 1fr;
    gap: 2rem;
    text-indent: 0.5rem;
}
 
.inp1 {
    border-radius: 5px;
    border: 1px solid #d5d4d8;
    text-indent: 0.5rem;
}


.button {
    grid-column: 1/-1;
    background-color: blueviolet;
    color: cornsilk;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "karla";
} 


.meme-section{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 5rem 14rem;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.meme {
   align-self: center;
    
}

.meme-text-top {
    position: absolute;
    top: 8rem;
    left: 80%;
    z-index: 3;
    transform: translate(-50%, -50%)

}


.meme-text-button{
    position: absolute;
    top: 32rem;
    left: 80%;
    transform: translate(-50%, -50%)
}

@media(max-width: 600px) {
    
    .header {
        height: 45px;
    }

    .title {
        margin-right: auto;
        font-size: 0.8rem;
    }
    
    .subtitle {
        font-size: 0.6rem;
    }

    .memelogo {
        width: 4rem; 
          
    }
    
    .main {
        margin-top: 3rem;

 
    }

    .form {
        width: 100%;
        
    }
    
    .inp1 {
        grid-column: 1/-1;
        
    }
    
    
    .button {
        grid-column: 1/-1;
      
    } 

    .meme {
        width: 50%;
        height: 50%;
        
    }
    
    .meme-text-top {
        position: absolute;
        top: 2rem;
        left: 45%;
      
        
    
    }
    
    
    .meme-text-button{
        position: absolute;
        top: 10rem;
        left: 45%;
        
        
    }

    .meme-section{
        width: 10px;
        height: 10px;
        padding: 0rem 10rem;
              
    }

    
.meme {
    margin-top: 1rem;
    margin-left: -100px;
    width: 10rem;
    height: 10rem;
     
 }
    

}
